<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>

    <RollingFile
      name="AccessLogFile"
      fileName="/var/pio/logs/tomcat/tomcat_access.log"
      filePattern="/var/pio/logs/tomcat/tomcat_access.%d{yyyy-MM-dd}.log"
    >
      <PatternLayout>
        <Pattern>%d %p %logger{36} [%t] %m%n</Pattern>
      </PatternLayout>

      <TimeBasedTriggeringPolicy />
        <DefaultRolloverStrategy>
          <Delete basePath="/var/pio/logs/tomcat" maxDepth="1">
            <IfFileName glob="tomcat_access*.log.gz" />
            <IfLastModified age="30d" />
          </Delete>
      </DefaultRolloverStrategy>

    </RollingFile>

    <File name="ErrorLogFile" fileName="/var/pio/logs/tomcat/tomcat_error.log">
      <PatternLayout>
        <Pattern>%d %p %logger{36} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>
  </Appenders>

  <Loggers>
    <Root level="all">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="AccessLogFile" level="info"/>
      <AppenderRef ref="ErrorLogFile" level="error"/>
    </Root>
  </Loggers>
</Configuration>